<nav class="bg-cardbg rounded-2xl py-6 flex flex-col justify-between items-center">
  <span>
    {% include "_layout/navbar/circle_icon.html" %}
  </span>
  <div class="flex flex-col">
    <a href="{{ url_for('profile') }}" class="px-4 py-2 group">
      {% include "_layout/navbar/profile_icon.html" %}
    </a>
    <a href="{{ url_for('chat') }}" class="px-4 py-2 group">
      {% include "_layout/navbar/chat_icon.html" %}
    </a>
  </div>
  <a href="{{ url_for('settings') }}" class="px-4 group">
    {% include "_layout/navbar/options_icon.html" %}
  </a>
</nav>
