<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='public/styles.css') }}" rel="stylesheet">
  </head>
  <body class="bg-bodybg h-screen flex flex-row justify-between p-4 text-textcolor space-x-6">
    <!-- Navbar -->
    {% include "_layout/navbar.html" %}
    <!-- End Navbar -->

    <!-- Main -->
    {% block main %}{% endblock main %}
    <!-- End Main -->
  </body>
</html>
